# Application
SPRING_APPLICATION_NAME=wallet-service

# Database
DB_URL=jdbc:postgresql://localhost:5432/wallet_db
DB_USERNAME=wallet_user
DB_PASSWORD=wallet_pass
DB_POOL_SIZE=50
DB_POOL_MIN_IDLE=10
DB_CONNECTION_TIMEOUT=30000
DB_IDLE_TIMEOUT=600000
DB_MAX_LIFETIME=1800000
DB_CONNECTION_INIT_SQL=SET lock_timeout = '10s'

# JPA
JPA_OPEN_IN_VIEW=false
JPA_DDL_AUTO=validate
JPA_SHOW_SQL=false
HIBERNATE_BATCH_SIZE=20
HIBERNATE_ORDER_INSERTS=true
HIBERNATE_ORDER_UPDATES=true

# Liquibase
LIQUIBASE_CHANGE_LOG=classpath:db/changelog/v0.0.1/changelog-master.xml

# Server
SERVER_PORT=8080

# Logging
LOG_LEVEL_WALLET_SERVICE=INFO
LOG_LEVEL_SPRING_WEB=WARN
LOG_LEVEL_HIBERNATE_SQL=WARN

# API: сегмент версии в пути `/api/{version}/...` (application.yml: api-base-path: /api/${API_VERSION:v1})
API_VERSION=v1